html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
    line-height: 1;
    
}
    
ol, ul {
    list-style: none;
    
}
    
blockquote, q {
    quotes: none;
    
}
    
blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    
}
    
table {
    border-collapse: collapse;
    border-spacing: 0;
    
}


@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
        font-family: "ubuntu light";
        src: url('../fonts/738128663-Ubuntu-L.eot');
        src: url('../fonts/738128663-Ubuntu-L.eot?#iefix') format('embedded-opentype'),
        url('../fonts/738128663-Ubuntu-L.svg#Ubuntu') format('svg'),
        url('../fonts/738128663-Ubuntu-L.woff') format('woff'),
        url('../fonts/738128663-Ubuntu-L.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}




@font-face {
    font-family: 'TitilliumWebRegular';
    src: url('../fonts/titilliumweb-regular.eot');
    src: url('../fonts/titilliumweb-regular.eot') format('embedded-opentype'),
         url('../fonts/titilliumweb-regular.woff') format('woff'),
         url('../fonts/titilliumweb-regular.ttf') format('truetype'),
         url('../fonts/titilliumweb-regular.svg#TitilliumWebRegular') format('svg');
}




@font-face {
    font-family: 'TitilliumWebBold';
    src: url('../fonts/titilliumweb-bold.eot');
    src: url('../fonts/titilliumweb-bold.eot') format('embedded-opentype'),
         url('../fonts/titilliumweb-bold.woff') format('woff'),
         url('../fonts/titilliumweb-bold.ttf') format('truetype'),
         url('../fonts/titilliumweb-bold.svg#TitilliumWebBold') format('svg');
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body
{
    font-family: 'Arial','Helvetica', 'sans-serif';
    font-size: 18px;
}

a{
    text-decoration: none;
}
.container{
    
    width: 940px;
    margin: 0 auto;
    
}

.clear{
    clear: both;
}

.clearLeft{
    clear: left;
}

.clearRight{
    clear: right;
}

.menuNavigator{
    background-color: #ffffff;
}

.logoPicture{
    float: left;
    width: 60px;
    height: 22px;
    margin: 14px 0px;
    background: url('../images/lmslogo.png') center center no-repeat;
}


.loginButton{
    display: block;
    float: right;
    height: 26px;
    padding: 0px 10px;
    line-height: 26px;
    text-align: center;
    font-family: 'open_sanssemibold';
    font-size: 14px;
    font-weight: bold;
    color: #ff8a00;
    border-radius: 3px;
    border: 2px solid #ff8a00;
    margin: 10px 0px;
}

.menuList{
   float: right; 
   margin: 5px 0px
}

.menuList li{
    float: left;
    margin-right: 35px;
}

.menuList li a{
    color: #666666;
    font-size: 16px;
    font-family: 'open_sanssemibold';
    line-height: 40px;
    text-align: center;
}

.menuList li a:hover{
    color: #000000;
}

.clearmenuList{
    float: none;
    margin-right: 0px;
}



.banner{
    height: 610px;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bannerText{
    float:right;
    width: 385px;
    margin-top: 50px;
    
}

.bannerText h1{
    
    font-family: 'open_sanslight'; 
    font-size: 40px;
    line-height: 54px;
    letter-spacing: -1px;
    
}

.getstartButton {
    display: inline-block;
    font-family: 'open_sansbold';
    padding: 0px 25px;
    background: #ff8a00;
    line-height: 55px;
    text-align: center;
    font-size: 30px;
    color: white;
    border-radius: 3px;
    margin-top: 34px;
    letter-spacing: -1px;
   
}

.content{
    background-color: #f0f0f0;
    padding-top: 80px;
    padding-bottom: 20px;
    
}

.content h2{
    
    font-family: "ubuntu light";
    text-align: center;
    color: #222222;
    font-size: 36px;
    line-height: 40px;
    word-spacing: -1px;
    letter-spacing: -1px;
    
    
}

.contentList{
    margin-top: 54px;
    
}

.contentList li{
    float: left;
    width: 190px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 1px;
    border: 1px solid #e4e4e4;
    padding: 35px 14px 15px 14px;
}

.contentList li.lastList{
    margin-right: 0px;
    
}

.contentList li h5{
    
    text-align: center;
    font-family: Arial;
    color: #444444;
    font-weight: bold;
    line-height: 40px;
    font-size: 14px;
}

.contentList li p{
    margin-top: 16px;
    font-size: 11px;
    line-height: 15px;
    color: #888888;
    text-align: left;
    word-break: break-all;
    
    
}

.content li.contentListClear{
    float: none;
    clear:both;
    width: 0px;
    height: 0px;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

a.makeCircle{
    
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: #ff8a00;
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -22px;
    
}

.courses{
    background: url('../images/course.png') center center no-repeat;
   
}

.assess{
    background: url('../images/assess.png') center center no-repeat;
   
}

.scores{
    background: url('../images/scores.png') center center no-repeat;
   
}

.discussions{
    background: url('../images/group.png') center center no-repeat;
   
}

.reports{
    background: url('../images/reports.png') center center no-repeat;
   
}

.multimedia{
    background: url('../images/multimedia.png') center center no-repeat;
   
}

.tests{
    background: url('../images/tests.png') center center no-repeat;
   
}

.certifications{
    background: url('../images/certifications.png') center center no-repeat;
   
}

.footer{
    background-color: #555555;
    padding-bottom: 200px;
    padding-top: 20px;
}

.footerTop{
    border-bottom: 1px solid #4c4c4c;
    padding-bottom: 20px;
}

.footerTop h3{
    float: left;
    font-family: 'TitilliumWebRegular';
    font-size: 30px;
    line-height: 40px; 
    color: #ffffff;
    margin: 7px 0px 7px 0px;
    letter-spacing: -1px;
}

.footerTop a{
    float: right;
    font-family: 'TitilliumWebBold';
    margin: 0px;
    padding: 0px 35px;
    word-spacing: -4px;
    letter-spacing: 0px;
}


.footerMiddleLeft {
    float: left;
    margin-top: 22px;
}
.footerMiddleLeft li{
    float: left; 
    margin-right: 20px;
    
}

.footerMiddleLeftListClear{
    float: none;
    margin-right: 0px;
}

.footerMiddleRight a.socialCircle{
    
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #777777;
    
}
.footerMiddleLeft li a{
    font-size: 18px;
    line-height: 30px;
    font-family: 'TitilliumWebBold';
    color: #ffffff;
    
}

.facebook{
    background: url('../images/fb2.png') center center no-repeat;
   
}

.twitter{
    background: url('../images/twitter2.png') center center no-repeat;
   
}

.p{
    background: url('../images/p2.png') center center no-repeat;
   
}

.google{
    background: url('../images/google2.png') center center no-repeat;
   
}

.footerMiddleLeft li a:hover{
    color: #222222;
}



.footerMiddleRight{
    float:right;
    margin-top: 33px; 
}
.footerMiddleRight li{
    float: left; 
    margin-right: 7px;
    
}

.footerMiddleRight li.lastSocial{
    margin-right: 0px;
}

.footerMiddleRightListClear{
    float: none;
    margin-right: 0px;
}

.footer span{
    float: left;
    font-size: 14px;
    line-height: 16px;
    font-family: 'TitilliumWebRegular';
    color: #2a2a2a;
    margin-right: 21px;
    margin-top: 3px;
}

.foot .footLeft{
    float: left;
    
}


.foot .footLeft li{
    display:inline;
    margin-right: 21px;
    
}

.foot .footLeft li a{
    font-size: 14px;
    line-height: 16px;
    font-family: 'TitilliumWebRegular';
    color: #ffffff;
}

