html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
    line-height: 1;
    
}
    
ol, ul {
    list-style: none;
    
}
    
blockquote, q {
    quotes: none;
    
}
    
blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    
}
    
table {
    border-collapse: collapse;
    border-spacing: 0;
    
}

input{
    padding: 0px;
}
body
{
    font-family: 'Arial','Helvetica', 'sans-serif';
    font-size: 18px;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: 'GeorgiaBoldItalic';
    src: url('../fonts/georgiabolditalic.eot');
    src: url('../fonts/georgiabolditalic.eot') format('embedded-opentype'),
         url('../fonts/georgiabolditalic.woff') format('woff'),
         url('../fonts/georgiabolditalic.ttf') format('truetype'),
         url('../fonts/georgiabolditalic.svg#GeorgiaBoldItalic') format('svg');
}

@font-face {
    font-family: 'GeorgiaItalic';
    src: url('../fonts/georgiaitalic.eot');
    src: url('../fonts/georgiaitalic.eot') format('embedded-opentype'),
         url('../fonts/georgiaitalic.woff') format('woff'),
         url('../fonts/georgiaitalic.ttf') format('truetype'),
         url('../fonts/georgiaitalic.svg#GeorgiaItalic') format('svg');
}

.container{
    
    width: 940px;
    margin: 0 auto;
    
}

.clear{
    clear: both;
}

.clearLeft{
    clear: left;
}

.clearRight{
    clear: right;
}

.menuNavigator{
    background: url('../images/headergradient.png') repeat-x;
}

.logoPicture{
    float: left;
    width: 165px;
    height: 50px;
    margin: 10px 46px 15px 0px;
    background: url('../images/logo247.png') center center no-repeat;
}


.menuList{
    float: left;
    margin-top: 26px;
}

.menuList li{
    float: left;
    margin-right: 33px;
}

.menuList li a{
    color: #0077cc;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

.menuList li a:hover{
    color: #000000;
}

.menuList li.menuLastList{
    margin-right: 0px;
}

.clearmenuList{
    float: none;
    margin-right: 0px;
}

.socialList{
    float: right;
    margin-top: 29px;
}

.socialList li{
    float: left;;
    margin-right: 5px;
}

.socialList li a{
    width: 16px;
    height: 16px;
    display: block;
    
}

.socialList li.lastsocial{
    margin-right: 0px;
}

.socialList li a.facebook{
    background: url('../images/facebook.png') center center no-repeat;
}

.socialList li a.twitter{
    background: url('../images/twitter.png') center center no-repeat;
}

.clearsocialList{
    background: none;
    margin-right: 0px;
    display: none;
}

.dashList{
    float: right;
    margin: 29px 20px 0px 0px;
}

.dashList li{
    float: left;
    margin-right: 15px;
}

.dashList li div{
    margin-right: 5px;
    width: 17px;
    height: 17px;
    display: inline-block;
}

.dashList li a.contact{
    background: url('../images/phone.png') left no-repeat;
    
}

.dashList li a.login{
    background: url('../images/login.png') left no-repeat;
  
}

.dashList li a{
    font-size: 12px;
    line-height: 16px;
    color: #0077cc;
    font-weight: 700;
    display: block;
    padding-left: 22px;
}

.dashList li.lastSocialList{
    float: none;
    margin: 0px;
    clear: both;
}

.dashList li.lastDash{
    margin-right: 0px;
}





.banner{
    height: 310px;
    background: #0064a4 url('../images/bannergradient.png') repeat-x;
}

.banner .bannerimage{
    float: left;
    width: 462px;
    height: 244px;
    background: url('../images/bannerimage2.png') center center no-repeat;
    margin-top: 38px;
    
 }
 
 .banner .bannerRight{
     float: right;
     width: 478px;
     height: 310px;
     background: url('../images/leaves.png') center center no-repeat;
 }
 
 .banner .bannerRight h1{
     font-family: 'GeorgiaBoldItalic';
     font-size: 28px;
     line-height: 40px;
     color: #ffffff;
     margin: 72px 0px 0px 78px;
 }
 
 .banner .bannerRight .findBox{
     margin: 74px 0px 0px 78px;
 }
 
 .banner .bannerRight .findBox input[type="text"].searchBox{
     width: 265px;
     height: 38px;
     border-radius: 3px;
     border: 1px solid #c5c5c5;
     font-size: 16px;
     line-height: 18px;
     color: #b4b4b4;
     padding-left: 14px;
     float: left;
 }
 
 .banner .bannerRight .findBox input[type="submit"].findDoctor{
     float: right;
     width: 113px;
     height: 40px;
     background: url('../images/buttongradient.png') repeat-x;
     line-height: 38px;
     text-align: center;
     font-size: 16px;
     color: #ffffff;
     border-radius: 3px;
     border: 1px solid #ff6000;
 }
 
 
 
 
 
 .content{
     padding-bottom: 37px;
     background-color: #f9feff;
 }
 
 .content .contentContain{
     width: 230px;
     margin-right: 40px;
 }
 
 .content .containLeft{
     float: left;
     margin-top: 17px;
     padding-top: 25px;
     background: url('../images/upperquote.png') no-repeat;
 }
 
 .content .subcontainLeft{
     background: url('../images/lowerquote.png') bottom right no-repeat;
 }
 .containLeft .subcontainLeft h4{
     font-size: 12px;
     font-weight: bold;
     line-height: 16px;
     color: #0077cc;
     
 }
 
 .containLeft .subcontainLeft p{
     font-size: 12px;
     line-height: 16px;
     color: #666666;
     margin-top: 2px;
     
 }
 
 .containLeft span{
     display:block;
     text-align: right;
     font-size: 12px;
     line-height: 20px;
     color: #444444;
     margin-top: 15px;
 }
 
 .content .containCenter{
     float: left;
     margin-top: 25px;
 }
 
 .content .containCenter h4{
     font-size: 12px;
     line-height: 18px;
     font-weight: bold;
 }
 
 
 .content .containCenter p{
     margin-top: 13px;
     font-size: 12px;
     line-height: 16px;
     color: #444444;
 }
 
 
 .containCenter a{
     display:block;
     text-align: right;
     font-size: 12px;
     font-weight: bold;
     line-height: 16px;
     color: #0077cc;
 }
 
 .content .containRight{
     float: left;
     width: 398px;
     margin-top: 30px;
 }
 
 .content .containRight p{
     font-size: 16px;
     line-height: 24px;
     font-family: 'GeorgiaItalic';
     font-weight: bold;
     color: #0076d1;
 }
 
 
 .content .containRight a{
     float: right;
     padding: 0px 32px;
     background: url('../images/signupgradient.png') repeat-x;
     line-height: 43px;
     text-align: center;
     font-size: 22px;
     color: #ffffff;
     margin-top: 15px;
     border-radius: 3px;
     border: 1px solid #ff6000;
 }
 
 
 
 
 
 
 
 
 .footer{
     background-color: #f9feff;
     border-top: 1px solid #e2e2e2;
     padding:15px 0px 190px 0px;
 }
 
 .footer .footerDiv{
    float: left;
    width: 130px;
    margin-right: 40px;
    
}

.footerDiv h5{
    
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.footer .footerDiv ul.footerList{
    margin-top: 5px;
}

.footer .footerDiv ul.footerList li{
    font-size: 12px;
    line-height: 29px;
    border-bottom: 1px dashed #d4d8d9;
  
}

.footer .footerDiv ul.footerList li.liFirst{
    border-top: 1px dashed #d4d8d9;
  }

.footer .footerDiv ul.footerList li a{
    color: #0077cc;
}

.footer span{
    display: block;
    float: right;
    font-size: 13px;
    line-height: 18px;
}