
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
    line-height: 1;
    
}
    
ol, ul {
    list-style: none;
    
}
    
blockquote, q {
    quotes: none;
    
}
    
blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    
}
    
table {
    border-collapse: collapse;
    border-spacing: 0;
    
}

@font-face 
{
        font-family: "Source Sans Pro";
        src: url('../fonts/888244629-SourceSansPro-Regular.eot');
        src: url('../fonts/888244629-SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/888244629-SourceSansPro-Regular.svg#Source Sans Pro') format('svg'),
        url('../fonts/888244629-SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/888244629-SourceSansPro-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
body
{
	font-family: 'Source Sans Pro','Arial','Helvetica', 'sans-serif';
	font-size: 18px;
}

a{
    text-decoration: none;
}
.container{
    
    width: 940px;
    margin: 0 auto;
    
}

.clear{
    clear: both;
}

.menuNavigator{
    background-color: #444444;
}

.logo{
    float:left;
}

.logoPicture{
    margin: 10px 55px 10px 0px;
}

.menuList{
    float: left;
    
}

.menuList li{
    float: left;
}

 .menuList li a{
    

    display: block;
    color: #aaaaaa;
    font-size: 18px;
    font-weight: bold;
    padding: 19px 26px 19px 26px;
    border-right: 1px solid #333333;
}

.leftborder{
    border-left: 1px solid #333333;
}

.menuList .listClear{
    float: none;
    clear: both;
}

.mainBanner{
    height: 486px;
    background: url('../images/blue_gradient.jpg') repeat;
   
}

.mainBannerLeft{
    width: 500px;
    float:left;
}

.marginContain{
    margin-left: 15px;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-top:186px;
}

h2{
    font-size: 36px;
    font-weight: 100;
    color: white;

}

.mainBannerRight{
    float: right;
    padding-top: 50px;
}

.buttons{
    height: 47px;
    width: 361px;
    margin-top: 40px;
}

.buttons .viewButton {
    display: block;
    float: left;
    height: 47px;
    width: 170px;
    background: #ffffff;
    line-height: 47px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 3px;
}

.buttons .joinButton {
    display: block;
    float: right;
    height: 47px;
    width: 170px;
    background: #ff9900;
    line-height: 47px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
}

.content h1{
    
    text-align: center;
    color: #444444;
    font-size: 36px;
    margin-top: 64px;
    line-height: 30px;
    font-weight: bold;
    
}




.contentList{
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
    float: left;
}

.contentList li{
    float: left;
    width: 140px;
    margin: 0px 34px;
}

a.makeCircle{
    
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background-color: #efefef;
    
}

.computerImage{
    background: url('../images/pc.png') center center no-repeat;
   
}

.homeImage{
    background: url('../images/home.png') center center no-repeat;
}

.cardImage{
    background: url('../images/card2.png') center center no-repeat;
}

.diaryImage{
    background: url('../images/diary.png') center center no-repeat;
}

.displayText {
    margin-top: 22px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
}

.displayText a{
    color: #888888;
    
}

.contentClearList{
    float:none;
    clear: both;
    margin: 0px;
    width: 0px;
}

.footer{
    background-color: #ececec;
    margin-top: 115px;
}

.footerTop{
    padding-top:30px;
    padding-bottom: 23px;
}

.footerTopLeft {
    float: left;
}
.footerTopLeft li{
    display: inline; 
    padding-right: 16px;
    
}



.footerTopLeft li a{
    font-size: 16px;
    color: #ff8000;
    font-weight: bold;
    
}
.footerTop li a:hover{
    color: #444444;
}

.footerTopRight{
    float:right;
}
.footerTopRight li{
    display: inline; 
    padding-right: 5px;
    
}



.footerBottom{
    padding-bottom: 85px;
    font-size: 14px;
    color: #aaaaaa;
    font-weight: bold;
}

.rights{
    
    float: left;
    margin-right: 60px;
}
.footLeft{
    float: left;
}

.footLeft li{
    float:left;
    
}

.footLeft li a{
    font-size: 14px;
    color: #aaaaaa;
    padding: 0px 5px;
}