
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
    line-height: 1;
    
}
    
ol, ul {
    list-style: none;
    
}
    
blockquote, q {
    quotes: none;
    
}
    
blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    
}
    
table {
    border-collapse: collapse;
    border-spacing: 0;
    
}

.wrapper{
    
    width: 940px;
    margin: 0 auto;
    
}

.clear{
    clear: both;
}

.menuNavigator{
    background-color: #444444;
}

.logo{
    float:left;
}

.logoPicture{
    margin: 10px 55px 10px 0px;
}

ul .menulist{
    float: left;
    
}

 .menulist a{
    
    float: left;
    display: block;
    text-decoration: none;
    color: white;
    padding: 19px 26px 19px 26px;
    border-right: 1px solid #333333;
}

.leftborder{
    border-left: 1px solid #333333;
}

.mainBanner{
    height: 486px;
    background: url('../images/blue_gradient.jpg') repeat;
   
}

.mainBannerLeft{
    width: 500px;
    float:left;
}

h1{
    font-size: 48px;
    font-family: Arial;
    color: white;
    margin-top:186px;
    margin-left:15px;
}

h2{
    font-size: 34px;
    font-family: Arial;
    font-weight:lighter;
    color: white;
    margin-left: 15px;

}

.mainBannerRight{
    float: right;
    padding-top: 50px;
}

.buttons{
    margin-left: 20px;
    height: 47px;
    width: 361px;
    margin-top: 40px;
}

.buttons .viewButton {
    display: block;
    float: left;
    height: 47px;
    width: 170px;
    background: #ffffff;
    line-height: 47px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-radius: 3px;
}

.buttons .joinButton {
    display: block;
    float: right;
    height: 47px;
    width: 170px;
    background: #ff9900;
    line-height: 47px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 3px;
}

.content h1{
    
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: 64px;
    line-height: 30px;
    font-weight: bold;
    
}

.contentlist {
   margin-top: 75px; 
}

.contentlist li{
    float: left;
}
.contentlist li a{
    display: block;
   
    width: 140px;
    height: 140px;
    margin-left: 75px;
    border-radius: 70px;
    background-color: #efefef;
    text-decoration: none;
   
}


.contentlist a img{
    padding: 48px 42px;
}

.displaytext {
    float: left;
    line-height: 19px;
    font-size: 17px;
    margin-top: 25px;
    text-align: center;
    color: #888888;
}

.cleartext{
    clear:both;
}
.footer{
    background-color: #ececec;
    margin-top: 115px;
    height: 160px;
}

.footerTopLeft {
    padding-top: 30px;
    float: left;
}
.footerTopLeft li{
    display: inline; 
    padding-right: 16px;
    
}



.footerTopLeft li a{
    text-decoration: none;
    font-size: 16px;
    color: #ff8000;
    font-weight: bold;
    
}
.footerTop li a:hover{
    color: #444444;
}

.footerTopRight{
    padding-top: 20px;
    float:right;
}
.footerTopRight li{
    display: inline; 
    padding-right: 5px;
    
}

.footerBottom{
    width:570px;
    margin-top: 20px;
    float: left;
    font-size: 14px;
    color: #aaaaaa;
    font-weight: bold;
}

.footLeft{
    float: right;
}

.footLeft li{
    display: inline;
}

.footLeft li a{
    font-size: 14px;
    color: #aaaaaa;
    text-decoration: none;
}