
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
    line-height: 1;
    
}
    
ol, ul {
    list-style: none;
    
}
    
blockquote, q {
    quotes: none;
    
}
    
blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    
}
    
table {
    border-collapse: collapse;
    border-spacing: 0;
    
}

.wrapper{
    
    width: 940px;
    margin: 0 auto;
    
}

#bannerHead{
    height: 175px;
    background-color: #499bd7;
    text-align: center;
   
}

body{
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
}

h1{
    font-size: 30px;
    color: white;
    font-weight: normal;
    padding: 72px 0px;
}



#menu{
    height:60px;
    background-color: #d6d6d6;
}

ul#menuNavigator{
    padding: 22px 0px;
}
ul#menuNavigator li{
    display: inline;
}

ul#menuNavigator a{
    font-size: 12px;
    text-decoration: none;
    color: black;
   
}

.content{
    padding-top: 30px;
    padding-bottom: 30px;
}

#logo{
    float: left;
    margin-right: 12px;
}

.footer{
    background-color: #eeeeee;
    height: 65px;
}

.footerBar{
    float:left;
}

ul#footerNavigator{
    padding: 21px 0px;
}

ul#footerNavigator li{
    display: inline;
}

ul#footerNavigator a{
    
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.copyright{
    float:right;
    font-size: 12px;
    padding: 21px 0px;
}